*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
h2{
  margin: 20px 0;
}
mark{
  color: blue;
  background-color: red;
}
.parent{
  padding: 20px;
  flex-wrap: wrap;
}
.card{
  width: 500px;
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
}
.card button{
  padding: 10px 20px;
  background-color: black;
  border: none;
  border-radius: 5px;
}
